*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #ffff00;
}
.eyes{
    position: absolute;
top: 0;
bottom: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
/* .eye{
    width: 200px;
    height: 200px;
    background: rgb(173, 54, 54);
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: #000 solid 8px;
   

} */
.eyes2{
    width: 250px;
    height: 250px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: #000 solid 8px; 
    position: relative;
     
}
.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    position: fixed;
    margin-top: 18%;
    margin-left: 18%;
    transform: translateX(50%, 50%);
    z-index: 5;
    
}
.iris{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgb(100, 19, 228);
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translateX(50%, 50%); 
    
  
}
.nose{
    border: #000 solid 8px;
    width: 350px;
    height: 120px;
    position: absolute;
    top: 40vh;
    right: 20%;
    border-radius: 50%;
    border-left: none;
}