* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* --------------------------------------------------------------------- */

/* HEADER */

/* --------------------------------------------------------------------- */


header {
    width: 100%;
    height: 25vh;
    position: absolute;
    top: 0;

    overflow: hidden;
}

.headerContainer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}


/* --------------------------------------------------------------------- */
/* .affFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.photoProduit {
    max-width: 50%;
}

/* Le container */
.slideshow-container {
    object-fit: cover;
    position: relative;
}

/* cache les images par défaut */
.mySlides2,
.mySlides {
    display: none;
}

.mySlides2 img,
.mySlides img {
    width: 100%;
}


/* Boutons "Next" et "previous" */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: -10%;
}

/* Position du bouton "next" à droite */
.next {
    right: -10%;
}

/* Au survol, ajout d'un fond noir légèrement transparent*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.contenu {
    max-width: 50%;
    /* margin-left: 60px; */
}

.contenu h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.contenu button {
    background-color: rgb(107, 202, 107);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer; 
}

/* Caption */
/* .text {
    color: #f2f2f2;
    font-size: 2rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%; */
/* Centrage sur la largeur */
/* text-align: center;
} */

/* Numéro des images */
/* .numbertext {
    color: red;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-size: 2rem;
    font-weight: 900;*/
/* text-shadow: 1px 1px 3px white; */
/* background-color: rgba(0, 0, 0, 0.8);
}  */

/* Les pastilles */

.pastilles {
    margin-top: 1rem;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active,
.dot:hover {
    background-color: #717171;
}










/* Animation Fading  */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}