* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/* style du boutton */

.burger-button {
    position: fixed;
    top: 5px;
    right: 2vh;
    z-index: 9;
    padding: 15px;
    border: 2px solid #999;
    border-radius: 5px;
    cursor: pointer;
}

/*couleur des bouttons*/
.burger-button span {
    width: 30px;
    border: 2px solid #999;
    /* background-color: black; */
    display: block;
    border-radius: 2px;
    transition: .5s;
}

/* .burger-button.active span {
    border-color: #f00;
    background-color: #f00;
} */

.burger-top,
.burger-bottom {
    position: absolute;
}

.burger-top {
    top: 5px;
}

.burger-bottom {
    bottom: 5px;
}

/* /!\ même position en haut que le padding du burger */
.burger-button.active .burger-top {
    position: absolute;
    top: 15px;
    transform: rotate(45deg);
}

.burger-button.active .burger-middle {
    border-color: transparent;
    background-color: transparent;
}

/* /!\ même position en bas que le padding du burger */

.burger-button.active .burger-bottom {
    position: absolute;
    bottom: 15px;
    transform: rotate(-45deg);
}

.burger-menu {
    border-radius: 5px;
    height: 30vh;
    display: flex;
    position: fixed;
    top: -100vh;
    left: 10px;
    right: 10px;
    /* bottom: 100vh; */
    background-color: #f9f9f9;
    padding: 1rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 5;
    transition: .5s;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}

.burger-menu.active {
    top: 0;
    bottom: 0;
}

.burger-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    /* display: block; */
    padding: 5px 15px;
    /* text-align: center; */
    white-space: nowrap;
}

.burger-menu a:hover {
    color: #fff;
    background-color: #999;
}